# ----- Template UI ------
BUILD_LANGUAGES=en -US,it-IT,fr-FR

NEXT_PUBLIC_SITE_NAME=srh-store
NEXT_PUBLIC_SITE_URL=https://srh-store.vercel.app/
NEXT_PUBLIC_CL_CLIENT_ID=R67ZZjRziVErAEtq8-5dCmQVDLiFRyOSBECyn2Fb5VA

NEXT_PUBLIC_CL_ENDPOINT= https://silk-road-treasure.commercelayer.io/admin
NEXT_PUBLIC_SANITY_PROJECT_TITLE=silkroadtreasures

NEXT_PUBLIC_SANITY_PROJECT_ID=ugz6ohqb
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2021-10-21
NEXT_PUBLIC_SANITY_TOKEN=skMmEh7GLd09QMdPI1Y0Z1t1Fob1AzugvnHSCNAUSQJYU5ZmzFKIz3yNV5ySNJXLBiWU466EpoxVA2WMrlu4TaID3hosD79jeSque0cmxLoTs66sbF6KoZIozj7Y1hG3dUwv1G6CSzie45FuDz0HM1UFhkDv5xzho3jFRA9NC2GZc81UR5oC